# Customer Churn Prediction Project
# Notebook 1: Data Understanding
# Goal: Load and explore the churn dataset

In [1]:
import pandas as pd

C:\Users\hp\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [3]:
df = pd.read_csv('../data/churn.csv')
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,InternetService,Contract,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,CUST100000,Male,0,No,Yes,61,Yes,Fiber optic,Two year,Bank transfer,68.29,4208.67,No
1,CUST100001,Female,0,No,No,68,Yes,Fiber optic,Two year,Electronic check,71.31,4868.98,No
2,CUST100002,Male,0,No,No,62,Yes,DSL,Two year,Electronic check,77.30,4857.57,No
3,CUST100003,Male,1,Yes,No,1,Yes,DSL,Month-to-month,Credit card,86.30,63.00,Yes
4,CUST100004,Male,0,Yes,Yes,53,Yes,DSL,Month-to-month,Credit card,26.29,1172.30,No

In [4]:
df.shape

(5000, 13)

In [5]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'InternetService', 'Contract',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customerID       5000 non-null   object
 1   gender           5000 non-null   object
 2   SeniorCitizen    5000 non-null   int64
 3   Partner          5000 non-null   object
 4   Dependents       5000 non-null   object
 5   tenure           5000 non-null   int64
 6   PhoneService     5000 non-null   object
 7   InternetService  5000 non-null   object
 8   Contract         5000 non-null   object
 9   PaymentMethod    5000 non-null   object
 10  MonthlyCharges   5000 non-null   float64
 11  TotalCharges     4936 non-null   float64
 12  Churn            5000 non-null   object
dtypes: float64(2), int64(2), object(9)
memory usage: 507.9+ KB

In [7]:
df.describe()

       SeniorCitizen       tenure  MonthlyCharges  TotalCharges
count    5000.000000  5000.000000     5000.000000   4936.000000
mean        0.154400    36.188400       69.709514   2564.638513
std         0.361368    21.138531       28.725870   1918.105582
min         0.000000     0.000000       20.040000   -262.490000
25%         0.000000    17.000000       45.350000   1026.402500
50%         0.000000    36.500000       69.295000   2102.450000
75%         0.000000    54.000000       94.215000   3727.122500
max         1.000000    72.000000      119.990000   8668.040000

In [8]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
InternetService     0
Contract            0
PaymentMethod       0
MonthlyCharges      0
TotalCharges       64
Churn               0
dtype: int64